#!/usr/bin/make -f

JAVA_HOME?=$(dirname $(dirname $(readlink -f /usr/bin/java)))
DEFAULT_CFG=$(PWD)/debian/tmp/opt/hashdot/profiles/default.hdp

clean:
	dh_testroot
	dh_testdir
	-@$(MAKE) $(MAKEOPTS) distclean
	dh_clean 

build:
	dh_testdir
	dh_prep
	$(MAKE) $(MAKEOPTS)

binary:
	dh_testroot
	dh_testdir
	dh_installdirs
	$(MAKE) INSTALL_BIN=/opt/hashdot/bin INSTALL_ROOT=$(PWD)/debian/tmp install
	# hack to construct a working default.hdp
	-@sed -i "s:^hashdot.vm.home.*:hashdot.vm.home = $(JAVA_HOME):g" $(DEFAULT_CFG)
	-@[ "`uname -m`" = "x86_64" ] && sed -i "s:^hashdot.vm.arch.*:hashdot.vm.arch = amd64:g" $(DEFAULT_CFG)
	# hack ends
	dh_install --sourcedir=debian/tmp
	dh_fixperms
	dh_compress
	dh_shlibdeps
	dh_strip --dbg-package=hashdot-dbg
	dh_installdeb
	dh_installchangelogs
	dh_md5sums
	dh_gencontrol
	dh_builddeb

binary-arch: binary
binary-indep: binary

.PHONY: clean build binary binary-arch binary-indep

