#!/usr/bin/make -f

clean:
	dh_testroot
	dh_testdir
	-@$(MAKE) $(MAKEOPTS) distclean
	dh_clean 

build:
	dh_testdir
	dh_prep
	$(MAKE) $(MAKEOPTS)

binary:
	dh_testroot
	dh_testdir
	dh_installdirs
	$(MAKE) INSTALL_BIN=/opt/hashdot/bin INSTALL_ROOT=$(PWD)/debian/tmp install
	dh_install --sourcedir=debian/tmp
	dh_fixperms
	dh_compress
	dh_shlibdeps
	dh_strip --dbg-package=hashdot-dbg
	dh_installdeb
	dh_installchangelogs
	dh_md5sums
	dh_gencontrol
	dh_builddeb

binary-arch: binary
binary-indep: binary

.PHONY: clean build binary binary-arch binary-indep

